<%- include('partials/header.ejs'); %>

  <div class="box boxx">
    <h1> <%= cityName %> </h1>
    <p> Sorry data not found for <span><%= cityName %></span></p>
    <button type="submit"> <a href="/">Try Another City</a> </button>
  </div>

<%- include('partials/footer.ejs') %>
